<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xmlns='http://www.springframework.org/schema/beans'
    xsi:schemaLocation='http://www.springframework.org/schema/beans http://springframework.org/schema/beans/spring-beans.xsd'>
    
    <bean name="speakerRepository" class="com.app.repository.HibernateSpeakerRepositoryImpl" />
    
    <bean name="speakerService" class="com.app.service.SpeakerServiceImpl">
<!--        <property name="speakerRepository" ref="speakerRepository" /> property tag for setter injection-->
        <!--constructor based injection below-->
        <constructor-arg index="0" ref="speakerRepository" />
    </bean>
</beans>
